$primary: #000;
$primary-shade-1: lighten(
  $color: $primary,
  $amount: 12%,
);
$primary-shade-2: lighten(
  $color: $primary,
  $amount: 6%,
);

$secondary: #fff;
$secondary-shade-1: darken(
  $color: $secondary,
  $amount: 3%,
);
$secondary-shade-2: darken(
  $color: $secondary,
  $amount: 6%,
);

$border-primary: 1px solid $primary-shade-2;
$border-secondary: 1px solid $secondary-shade-2;

$border-radius: 0.25rem;

%glassmorphism {
  backdrop-filter: blur(4px);
}
