@import "../../../styles/theme";

.icon-button {
  padding: 0.25rem;
  height: fit-content;
  background-color: $secondary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.icon-button--bordered {
    box-sizing: border-box;
    border: $border-secondary;
  }
  &:hover {
    background-color: $secondary-shade-2;
  }
  &:active {
    background-color: $secondary-shade-1;
  }
}
