@import "../styles/theme";

.button {
  width: 100%;
  padding: 1rem 1.5rem;
  border: none;
  box-sizing: border-box;
  &.button--default {
    background-color: $secondary;
    color: $primary;
    &:hover {
      background-color: $secondary-shade-2;
    }
    &:active {
      background-color: $secondary-shade-1;
    }
  }
  &.button--dense {
    padding: 0.5rem 1rem;
    background-color: $primary;
    color: $secondary;
    border-top: $border;
    &:hover {
      background-color: $primary-shade-2;
    }
    &:active {
      background-color: $primary-shade-1;
    }
  }
}
