@import "../styles/theme";

.footer {
  border-top: $border-secondary;
  &__button {
    width: 100%;
    &:hover {
      background-color: $secondary-shade-2;
    }
    &:active {
      background-color: $secondary-shade-1;
    }
  }
}
