.typography {
  margin: 0;
  &.typography--h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  &.typography--body1 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
  }
}
