.typography {
  margin: 0;
  padding: 0;
  &.typography--h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  &.typography--h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
  &.typography--body1 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
  }
  &.typography--body2 {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
  }
  &.typography--button {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
