@import "../../styles/theme";

.tasks {
  display: contents;
  &__actions {
    padding: 0.25rem;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 0.5rem;
    z-index: $layer-2;
    @extend %glassmorphism;
  }
}
