@import "../../../../../styles/theme";

.task-list-item-content {
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  &.task-list-item-content--read-only {
    padding: 0.25rem;
  }
  &__textarea {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    &:focus {
      top: 0;
      box-shadow: $shadow;
      z-index: $layer-1;
      transform: translateY(0);
    }
    &.task-list-item__textarea--finished {
      text-decoration: line-through;
    }
  }
}
