$primary: #000;
$primary-shade-1: lighten(
  $color: $primary,
  $amount: 12%,
);
$primary-shade-2: lighten(
  $color: $primary,
  $amount: 6%,
);

$secondary: #fff;
$secondary-shade-1: darken(
  $color: $secondary,
  $amount: 3%,
);
$secondary-shade-2: darken(
  $color: $secondary,
  $amount: 6%,
);
$secondary-shade-3: darken(
  $color: $secondary,
  $amount: 12%,
);
$secondary-shade-4: darken(
  $color: $secondary,
  $amount: 24%,
);

$border-primary: 1px solid $primary-shade-2;
$border-secondary: 1px solid $secondary-shade-2;

$border-radius: 0.25rem;

$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;

$shadow: 0 4px 16px rgba($primary, 0.2);

$layer-0: 0;
$layer-1: 100;
$layer-2: 200;
$layer-3: 300;

%glassmorphism {
  backdrop-filter: blur(4px);
}
