@import "./styles/theme";

body {
  padding: 0;
  margin: 0;
  // background-color: rgba($primary, 0.5);
  // @extend %glassmorphism;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  max-height: 100svh;
  box-sizing: border-box;
}
