@import "../../../../styles/theme";

.task-list-item {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: stretch;
  gap: 0.25rem;
  background-color: $secondary;
  & ~ & {
    border-top: $border-secondary;
  }
  &:last-child {
    border-bottom: $border-secondary;
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    box-sizing: border-box;
  }
}
