@import "../../../../styles/theme";

.task-list-item {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: stretch;
  gap: 0.25rem;
  border: 1px solid transparent;
  & ~ & {
    border-top: $border-secondary;
  }
  &:last-child {
    border-bottom: $border-secondary;
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  &__icon {
    color: $primary;
  }
  &.task-list-item--drag-over {
    $drop-border: 1px dashed $primary-shade-2;
    background-color: $secondary-shade-2;
    border: $drop-border;
  }
}
